annotated-types==0.6.0
asttokens==2.4.1
black==23.12.1
cffi==1.16.0
cryptography==41.0.7
decorator==5.1.1
defusedxml==0.7.1
executing==2.0.1
flake8==7.0.0
ipdb==0.13.13
ipython==8.20.0
jedi==0.19.1
matplotlib-inline==0.1.6
mccabe==0.7.0
mypy-extensions==1.0.0
packaging==23.2
pan-os-python==1.11.0
pan-python==0.17.0
panos-upgrade-assurance==0.3.1
parso==0.8.3
pathspec==0.12.1
pexpect==4.9.0
platformdirs==4.1.0
prompt-toolkit==3.0.43
ptyprocess==0.7.0
pure-eval==0.2.2
pycodestyle==2.11.1
pycparser==2.21
pydantic==2.5.3
pydantic_core==2.14.6
pyflakes==3.2.0
Pygments==2.17.2
pyOpenSSL==23.3.0
six==1.16.0
stack-data==0.6.3
traitlets==5.14.1
typing_extensions==4.9.0
wcwidth==0.2.13
xmltodict==0.12.0